<div class="page_body container">
  <h1> Create User </h1>
  <% flash.each do |name, msg| %>
   <p>
     <%= name.capitalize %>: <%= msg %>
   </p>
 <% end %>
  <%= form_for @user do |f| %>
    <div>
      <%= f.text_field :name, placeholder: 'Name' %>
    </div>
    <div>
      <%= f.text_field :current_city, placeholder: 'Current City' %>
    </div>
    <div>
      <%= f.text_field :image, placeholder: 'Profile Picture Url (Optional)' %>
    </div>
    <div>
      <%= f.email_field :email, placeholder: 'Email Address' %>
    </div>
    <div>
      <%= f.password_field :password, placeholder: 'Password' %>
    </div>
    <%= f.submit 'Sign Up', class: "btn waves-effect waves-light" %>
  <% end %>
  <br>
  <%= link_to material_icon.arrow_back, root_path %>
</div>
