<div class="row ui">
  <div class="z-depth-3 user_info left">
    <div class="container info_wrap">
      <div class="image_wrap">
        <img class="user_pic" src="https://maxcdn.icons8.com/Share/icon/Users//user_male_circle_filled1600.png">
        <!-- <% if @user.image %>
          <img class="user_pic" src= <%=@user.image%> >
        <% else %>
          <img class="user_pic" src="https://maxcdn.icons8.com/Share/icon/Users//user_male_circle_filled1600.png">
        <% end %> -->
      </div>
      <h4 class="center-align"> <%= @user.name %> </h4>
        <div class="divider"></div>
      <div class="center-align">
        <p class="left-align"> <%= @user.created_at.strftime("Member since %b %-d, %Y") %> </p>
        <p class="left-align"> Currently in <%= @user.current_city %> </p>
        <% if session[:user_id] == @user.id %>
          <br>
          <%= link_to 'Edit Profile', edit_user_path(@user) %>
        <% end %>
      </div>
    </div>
  </div>
  <h4> Tips </h4>
  <div class="divider"></div>
  <div class="tips_wrap container">
    <%  @posts.each do |post| %>
      <h5> <%= link_to post.title, post_path(post) %> </h5>

      <p> <%= post.message%> </p>

      <% if session[:user_id] == @user.id %>
        <%= link_to "Edit Post", edit_post_path(post) %>
        <%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br>
      <% end %>

      <span>
        <small class="right-align"><%= post.created_at.strftime("Posted on %b %-d, %Y")%></small>
      </span>
      <div class="divider"></div>
      <% end %>


  </div>
</div>
