<div class="page_body container">
  <h2><%= @post.title %></h2>
  <% @city = City.find_by_id(@post.city_id) %>
  <h4><%= @post.message %></h4>
  <big>City: <%= link_to "#{@city.name}", city_path(@city), class: "body_link" %></big>

  <% if session[:user_id].nil? %>
    <p>Posted by <%= @user.name %> <%= @post.created_at.strftime(" on %b %-d, %Y")%></p>

      <p>Comments:</p>

      <div class="comments-thread">
          <% @comments.each do |comment| %>
            <% commenter = User.find_by_id(comment.user_id) %>
            <big><%= comment.message %></big>
              <span>
                <p><%= commenter.name %> <%= comment.created_at.strftime(" on %b %-d, %Y")%></p>
              </span>
            <br>
        <% end %>
      </div>

  <% else %>
   <%= render 'logged_in_posts' %>
  <% end %>

</div>
